* {
  box-sizing: border-box;
}


#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.btn-res {
  margin: 5px;
}


.emailBtn {
  background: #e88845;
}

.emailBtn:before {
  font-family: "FontAwesome";
  content: "\f003 ";
  /* add rss icon */
}

.emailBtn:hover {
  color: #e88845;
  background: #fff;
}

html {
  width: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #37474F;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

body {
  minheight: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.outer {
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, #37474F 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, #37474F));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, #37474F 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, #37474F 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, #37474F 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, #37474F 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#825b00', GradientType=0);
  /* IE6-9 */
}

.card-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 10px 0 20px 0;
  border-radius: 2px;
  background-color: #fff;
}

.card {
  margin: 10px 0 20px 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.card .card-title.activator {
  cursor: pointer;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .card-title {
  line-height: 48px;
}


.btn,
button,
[type=submit] {
  margin: 10px;
  padding: 50px 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #EF6C00;
  font-weight: 500;
  line-height: 1.3;
  -webkit-border-radius: 8px;

-moz-border-radius: 8px;

border-radius: 8px;

-webkit-box-shadow: 0px 0px 11px #000000;

-moz-box-shadow: 0px 0px 11px #000000;

box-shadow: 0px 0px 11px #000000;
}

.btn:hover,
button:hover,
[type=submit]:hover {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  opacity: .85;
}

.btn:active,
button:active,
[type=submit]:active {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
  opacity: .75;
}

.btn:focus,
button:focus,
[type=submit]:focus {
  outline: none;
}

.btn-outline {
  border: 3px solid #fff;
  color: #fff;
  background: transparent;
  transition: all 0.5s ease;
}

.btn-outline:hover,
.btn-outline:active {
  color: #000;
  background: #fff;
}

.btn-outline-inverted {
  border: 3px solid #000;
  color: #000;
  background: transparent;
  transition: all 0.5s ease;
}

.btn-outline-inverted:hover,
.btn-outline-inverted:active {
  color: #fff;
  background: #000;
}

ul,
ol {
  list-style: none;
}

.site-header {
  text-align: center;
}

.site-header .wrapper {
  padding-top: 5em;
  padding-bottom: 2em;
}

.site-header .wrapper .site-title {
  text-decoration: none;
  color: #fff;
  font-size: 35px;

  text-transform: uppercase;
}

.site-header .header-badge {
  border-radius: 50%;
  border: 12px #fff solid;
  height: 200px;
  width: 200px;
  background: url("https://clarkhacks.github.io/a/img/resume/download.svg") center center no-repeat #fff;
  background-size: 50px 50px;
  display: inline-block;
  margin-bottom: -140px;
  overflow: hidden;
  transition: 0.3s;
}

.site-header .header-badge img {
  /* Center the image within the element */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  transition: 0.3s;
}

.site-header .header-badge:hover {
  transition: 0.3s;
}

.site-header .header-badge:hover img {
  opacity: 0.7;
  transition: 0.3s;
}

.page-content {
  margin: 30px auto;
  width: 980px;
}

.page-content .top {
  text-align: center;
  padding: 120px 30px 30px;
}

.page-content .top a.email {
  font-size: 2rem;
  text-decoration: none;
  color: #EF6C00;
}

.page-content .top p.description {
  font-size: 2rem;
  text-align: left;
}

.say-body {
  font-size: 1.6rem;
  text-align: left;
}

.page-content .posts .card-title {
  color: #EF6C00;
  display: block;
  width: 100%;
  border-bottom: #EF6C00 solid 1px;
}

.page-content .posts .post-list {
  margin: 0;
  padding: 0;
}

.page-content .posts .post-list li {
  padding: 15px 0;
  border-bottom: #ddd solid 1px;
}

.page-content .posts .post-list li .post-meta {
  float: right;
  color: #ccc;
  font-size: 14px;
}

.page-content .posts .post-list li a {
  text-decoration: none;
  color: #333;
  font-size: 21px;
}

.page-content .posts .rss-subscribe {
  text-align: center;
  margin-top: 15px;
}

.page-content .posts .rss-subscribe a {
  text-decoration: none;
  color: #EF6C00;
}

.post .card-content {
  padding: 80px 20px;
}

.footer-heading {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 2.6rem;
  padding-bottom: 0.5em;
  font-weight: 300;
}

@media (max-width: 1050px) {
  .page-content {
    margin: 30px 2%;
    width: 96%;
  }
}

.go-top {
	position: fixed;
	bottom: 5em;
	right: 0.1em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 30px;
	padding: 1em;
	display: none;
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);
}